/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: 'Helvetica', sans-serif; /* Beautiful font */
  background-color: #f4f5f0; /* Beautiful background color */
}

/* Custom Styles */
#dot-chart {
  text-align: center;
  margin: 24px;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px; /* Add margin to separate the SVG from the body */
}

#title {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 12px;
}

#subtitle {
  margin-bottom: 12px;
}

.dot {
  cursor: pointer;
  stroke: black;
}

.green:hover {
  stroke: rgb(4, 231, 4);
  stroke-width: 5px;
}

.red:hover {
  stroke: rgb(216, 231, 4);
  stroke-width: 5px; 
}

.not-show {
  display: none;
}

.show {
  display: block;
}

.info {
  width: 100%;
  text-align: left;
  padding-left: 8px;
}

.link {
  height: 100%;
  width: 100%;
  z-index: 1000;
  border: 1px solid black;
}

.red {
  fill: red;
}

.green {
  fill: green;
}

.axis-name {
  font-size: 24px;
}

.text-container {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  align-items: flex-start;
  line-height: 2;
}

svg {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
}
